* text=auto eol=crlf

*.c text eol=crlf
*.h text eol=crlf
*.s text eol=crlf
*.ld text eol=crlf
*.md text eol=crlf
*.txt text eol=crlf
*.uvprojx text eol=crlf
*.scvd text eol=crlf

*.zip binary
*.pack binary
*.axf binary
*.elf binary
*.hex text eol=crlf
*.bin binary
